.method-box-control-wrap {
    display: block !important;
    width: 100% !important;

    .components-base-control {
        margin-bottom: 0 !important;

        .components-base-control__field {
            margin-bottom: 0 !important;
        }
    }
}

.method-responsive-toggles-wrap {
    .components-base-control__field {
        //margin-bottom: 0px !important;
    }
}

.tab-enabled {
    .dashicon {
        position: relative;

        &:after {
            position: absolute;
            top: -4px;
            right: -4px;
            width: 10px;
            height: 10px;
            border-radius: 40px;
            background-color: #007CBA;
            //border: 2px solid #8ED126;
            display: block;
            box-sizing: border-box;
            content: '';
        }
    }
}

.method-margin-options-wrap {
    .components-checkbox-control__label {
        font-size: 0.75rem !important;
    }

    .components-checkbox-control__input {
        border-color: rgb(177, 177, 177) !important;
    }
}

.method-bgalign-control-wrap {
    display: flex;
    gap: 16px;
    align-items: center;

    &-value {
        text-transform: capitalize;
    }
}

.method-responsive-tab-controls {
    border: 1px solid #ddd;

    .components-panel__row {
        padding-left: calc(16px);
        padding-right: calc(16px);
        padding-top: calc(8px);
        padding-bottom: calc(8px);

    }

    .method-control-set {
        border-bottom: 1px solid #ddd;
    }

    .components-panel__row label {
        max-width: 100%;
    }
}

.method-aspect-ratio-layout {
    display: inline-flex;
    border: 1px solid #ddd;
    align-items: center;

    .components-input-control__input {
        text-align: center;
    }

    .components-input-control__input,
    .components-number-control,
    .components-number-control * {
        border: none !important;
        border-image-width: 0 !important;
        border-color: transparent !important;
    }
}

.method-shadow-layer {
    .components-range-control__root {
        .components-number-control {
            position: relative;

            &:after {
                content: 'px';
                position: absolute;
                top: 10px;
                bottom: 10px;
                right: 10px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding-left: 6px;
                padding-right: 6px;
                border: 1px solid #B5B5B5;
                color: #B5B5B5;
                border-radius: 4px;
                font-size: 12px !important;
                font-weight: 500;
                //text-transform: uppercase;
            }

            &:hover {
                &:after {
                    opacity: 0;
                }
            }
        }
    }
}