.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.visually-hidden:not(caption),
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
  position: absolute !important;
}

body:has(.method-options-panel) {
  padding-bottom: 0;
}
body:has(.method-options-panel) #wpbody-content {
  padding-bottom: 0;
}
body:has(.method-options-panel) #wpfooter {
  display: none;
  visibility: hidden;
}
body:has(.method-options-panel) .cmb2-options-page {
  margin: 0 0 0 2px !important;
  height: 100%;
  min-height: calc(100vh - 32px);
  background-image: url("../images/admin-lines.png");
  background-size: contain;
  background-position: center top;
  background-repeat: repeat-y;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 32px;
}
body:has(.method-options-panel) .cmb2-options-page > h2 {
  width: 33.3333333333%;
  margin-bottom: 36px;
  color: #1d2327;
  font-weight: 300;
  font-size: 18px;
}
body:has(.method-options-panel) .cmb2-options-page > h2 .method-logo-wrap {
  display: block;
  height: 0 !important;
  width: 100%;
  padding-top: 17.06%;
  background-image: url("../images/admin-logo.svg");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  margin-bottom: 12px;
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox {
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1) !important;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.15);
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-row {
  background-color: transparent !important;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-type-title h3.cmb2-metabox-title {
  text-transform: none;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  font-weight: 700;
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-type-title .cmb2-metabox-description {
  color: #fff;
  padding-top: 0.375rem;
  font-weight: 300;
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-type-radio-inline ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-type-radio-inline li {
  position: relative;
  padding: 0;
  margin: 0;
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-type-radio-inline li input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-type-radio-inline li label {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 8px;
  border-radius: 8px;
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-type-radio-inline li:has(input:checked) label {
  background-color: #F24C27;
  border-color: #d24121;
  color: #fff;
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping {
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 8px;
  padding-bottom: 0;
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping h3.cmbhandle-title {
  background: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 700;
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping h3.cmbhandle-title span:after {
  font-weight: 300;
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping button.dashicons-before {
  top: 10px;
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping .cmbhandle:before {
  padding: 12px 10px;
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:not(.closed) h3.cmbhandle-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=""]:checked) h3.cmbhandle-title span:after {
  content: " / Generic Link";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=bluesky]:checked) h3.cmbhandle-title span:after {
  content: " / Bluesky";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=facebook]:checked) h3.cmbhandle-title span:after {
  content: " / Facebook";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=flickr]:checked) h3.cmbhandle-title span:after {
  content: " / Flickr";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=github]:checked) h3.cmbhandle-title span:after {
  content: " / GitHub";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=instagram]:checked) h3.cmbhandle-title span:after {
  content: " / Instagram";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=issuu]:checked) h3.cmbhandle-title span:after {
  content: " / Issuu";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=linkedin]:checked) h3.cmbhandle-title span:after {
  content: " / LinkedIn";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=pinterest]:checked) h3.cmbhandle-title span:after {
  content: " / Pinterest";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=threads]:checked) h3.cmbhandle-title span:after {
  content: " / Threads";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=tiktok]:checked) h3.cmbhandle-title span:after {
  content: " / TikTok";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=twitch]:checked) h3.cmbhandle-title span:after {
  content: " / Twitch";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=twitter]:checked) h3.cmbhandle-title span:after {
  content: " / X (Twitter)";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=vimeo]:checked) h3.cmbhandle-title span:after {
  content: " / Vimeo";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox .cmb-repeatable-grouping:has(input[value=youtube]:checked) h3.cmbhandle-title span:after {
  content: " / YouTube";
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox > .cmb-row {
  padding: 1.5rem !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body:has(.method-options-panel) .cmb2-options-page .cmb2-metabox > .cmb-row:has(h3.cmb2-metabox-title) {
  padding: 0.875rem 1.5rem !important;
  background-color: #49BF9E !important;
}
body:has(.method-options-panel) .button-primary,
body:has(.method-options-panel) .button-secondary {
  background: #49BF9E !important;
  border-color: #42b191 !important;
  border-width: 1px;
  color: #fff !important;
  border-radius: 8px;
  padding: 10px 18px !important;
  line-height: 1 !important;
  font-size: 15px;
  font-weight: 500;
}
body:has(.method-options-panel) .button-primary[type=submit],
body:has(.method-options-panel) .button-secondary[type=submit] {
  background: #20473c !important;
  border-color: #2a5e50 !important;
  color: #54e6bd !important;
  min-width: 16.6666666667%;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 24px !important;
  border-radius: 12px;
}